deb [trusted=yes] https://apt.infra.bingo.zone/repository/apt-bullseye bullseye main contrib non-free
deb [trusted=yes] https://apt.infra.bingo.zone/repository/apt-bullseye-security/ bullseye-security main contrib non-free
